.Calendar {
  margin-top: 5px;
  margin-right: 5px;
  max-width: calc(100% - 400px);
  user-select: none;
}

.App {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  height: 93vh;
}

.Appointments {
  margin: 5px 20px 5px 5px;
  padding: 10px;
  flex: 1 0;
}

.AddAppointmentbox {
  margin-top: 5px;
  padding: 10px;
}

.icon-right-spacing {
  margin-right: 5px;
}