.Calendar {
  user-select: none;
  flex: 3 0 75%
}

.App {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  height: 94vh;
}

.Appointments {
  margin: 5px 20px 5px 5px;
  padding: 10px;
  flex: 1 1;
  background-color: lightblue;
}