$font-stack: Helvetica, sans-serif;
$primary-color: #0539ff;
$secondary-color:  #1ba1ff;
$dark-slate: #212121;

.icon-right-spacing {
  margin-right: 5px;
}

body {
  background-color: white !important;
}