@use 'globals';

$border-radius: 10px;

.Background_Light {
  background: white
}

.Background_Dark {
  background: globals.$background-dark;
}

.Hero {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: globals.$primary-color;
  margin: 20px;
  padding: 10px 0px 10px 0px;;
  border-radius: $border-radius;
  flex: 1 1;
}

.PromoText {
  flex: 1 1;
  padding: 40px;
  text-align: center;
}

.PromoText_1 {
  font-size: 4.5em;
}

.PromoArt {
  flex: 1 2;
  position: relative;
  height: 700px;
  width: 100%;
}

.PromoStart {
  background-color: rgb(0, 0, 0 , .55);
  padding: 2px;
  border-radius: $border-radius;
}

.PromoStart p {
  font-size: 1.2em;
}

.GetStarted {
  font-size: 35px;
}

@media screen and (max-width: 1400px) {
  .Hero {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .PromoText_1 {
    font-size: 2.5em;
  }
}

.CreditText {
  position: relative;
  top: 40px;
  display: column;
  padding: 10px;
  background-color: lightyellow;
  color: black;
  bottom: 0;
  border-radius: $border-radius;
}

.BottomText_Header {
  flex: 1 0;
  font-size: 2.5rem;
}

.BottomText_Credits {
  flex: 1 0;
  font-size: 1.5rem;
}
